annotated-types==0.7.0
av==13.1.0
beautifulsoup4==4.12.3
certifi==2024.12.14
charset-normalizer==3.4.1
click==8.1.8
click-default-group==1.2.4
cloup==3.0.5
Cython==3.0.11
decorator==5.1.1
glcontext==3.0.0
idna==3.10
isosurfaces==0.1.2
Jinja2==3.1.5
lxml==5.3.0
manim==0.19.0
manim-slides==5.4.0
ManimPango==0.6.0
mapbox_earcut==1.0.3
markdown-it-py==3.0.0
MarkupSafe==3.0.2
mdurl==0.1.2
moderngl==5.12.0
moderngl-window==3.1.1
networkx==3.4.2
numpy==2.2.2
packaging==24.2
pillow==11.1.0
pycairo==1.27.0
pydantic==2.10.5
pydantic-extra-types==2.10.2
pydantic_core==2.27.2
pydub==0.25.1
pyglet==2.1.1
PyGLM==2.7.3
Pygments==2.19.1
pyobjc-core==11.0
pyobjc-framework-Cocoa==11.0
python-pptx==1.0.2
QtPy==2.4.2
requests==2.32.3
rich==13.9.4
rtoml==0.12.0
scipy==1.15.1
screeninfo==0.8.1
skia-pathops==0.8.0.post2
soupsieve==2.6
srt==3.5.3
svgelements==1.9.6
tqdm==4.67.1
typing_extensions==4.12.2
urllib3==2.3.0
watchdog==6.0.0
XlsxWriter==3.2.0
